/* General Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Overall Layout */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

header {
  background-color: #3b3b3b;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  /* Ensure navbar is always on top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  /* Ensures logo and menu are spaced out */
  align-items: center;
  /* Vertically centers the content */
}

.navbar .logo {
  display: flex;
  flex: 0 1 auto;
  /* Keeps the logo's size fixed */
  width: 50px;
  height: auto;
}

.navbar .menu {
  display: flex;
  /* Align menu items horizontally */
}

.navbar .menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar .menu .menu-item {
  position: relative;
  margin: 0 20px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.navbar .menu .menu-item:hover {
  background-color: #444;
}

/* Submenu Styles */

.navbar .menu .submenu {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #333;
  list-style: none;
  padding: 10px 0;
  min-width: 200px;
}

.navbar .menu .submenu li {
  padding: 10px;
  cursor: pointer;
}

.navbar .menu .submenu li:hover {
  background-color: #555;
}

/* Style for links inside submenu */

.navbar .menu .submenu li a {
  color: white;
  /* Set link color to white for visibility */
  text-decoration: none;
  /* Remove underline */
  display: block;
  padding: 10px;
}

.navbar .menu .submenu li a:hover {
  background-color: #444;
}

.navbar .menu a {
  text-decoration: none;
  color: white;
}

/* Display submenu when hovering over the parent menu item */

.navbar .menu .menu-item:hover .submenu {
  display: block;
}

.background img {
  position: relative;
  width: 1250px;
  height: auto;
}
